body {
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #232323;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: lightblue;
    color: aqua;
  }
}

@media screen and (max-width: 900px) {
  body {
    color: red;
  }
}
