@ali:registry=https://registry.npm.alibaba-inc.com/
@alife:registry=https://registry.npm.alibaba-inc.com/
@terminus:registry=https://registry.npm.terminus.io/

registry=https://registry.npm.taobao.org/
//registry=https://registry.npmjs.org/
